<link rel="stylesheet" type="text/css" href="/css/footer.css">

<div class="footer">
<h5>2023 Blog, nome do blog</h5>
<section>
    <ul style="text-align: right;">
       <li>Dowloands</li>
        <li>Docs</li>
        <li>Photos</li>
    </ul>
    <ul>
        <li>Github</li>
        <li>Instagram</li>
        <li>LinkedIn</li>
    </ul>
</section>
</div>


