<div class="formatos">
    
    <h1>Formatações</h1>  
    <span>v</span>

<section>
   <p>Para dar destaque a frases use: <strong>*</strong></p>
   <h6><span class="ex">HTML não é uma <br>*linguagem de programação*</span></h6>
</section>

<section>
   <p>Para criar blocos de observação, use <strong>[</strong></p>
   <h6><span class="ex">[Lembre-se! Novas publicações são enviadas via email]</span></h6>
</section>

<section>
   <p>Para criar hiperlinks, use <strong>#</strong></p>
   <h6><span class="ex">Meu repositorio: # link #</span></h6>
</section>

<section>
   <p>Para quebrar linhas, use <strong>/n</strong></p>
   <h6><span class="ex">[...] e assim se faz.<br>/nNo entanto...</span></h6>
</section>



</div>