<div class="row row-cols-1 row-cols-md-3 g-4" id="root">
    <div class="col">
      <div class="card h-100">
        <img src="https://1.bp.blogspot.com/-wnyg37xcY2A/UUuZV1_69_I/AAAAAAAAA4s/PVdPUwe8t-s/s1600/CAE+EL+SOL+A+LA+ORILLA+DEL+MAR.jpg" class="card-img-top" alt="Imagem referente ao assunto do blog">
        <div class="card-body">
          <h5 class="card-title">${titulo}</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>
  
 
 
