#root{
    display: flex;
    flex-direction: column-reverse;
    gap: 12px; 
    overflow: auto;
}

.cards{
    display: flex;
    justify-content: space-between;
    color: rgb(205, 205, 205);
    align-content: center;
    align-items: center;
    border: 1px solid var(--cor-borda);
    background-color: var(--background-fl);
   
}

body{
    background: var(--background);
}

.titulos{
    display: flex;
}

.icons{
    display: flex;
    gap: 5px;
}

.icons img{
    max-height: 35px;
    cursor: pointer;
    filter: brightness(90%);
}

.icons img:hover{
    filter: brightness(100%);

}