#root{
    display: flex;
    flex-direction: column-reverse;
    gap: 12px; 
    overflow: auto;
    

}

.cards{
    display: flex;
    justify-content: space-between;
    color: rgb(205, 205, 205);
    align-content: center;
    align-items: center;

    border: 1px solid var(--cor-borda);
    background-color: var(--background-fl);
    padding: 10px;
   
}

main{
    padding-top: 32px;
}

body{
    background: var(--background);
}

.att{
    display: flex;
    align-items: center;
    gap: 5px;
}
.att span{
    color: white;
}
.titulos{
    display: grid;
    align-items: center;
}

.cardtitle{
    font-weight:500;
    font-size: 14pt;
    color: white;
}

.cardtitle::before{
    content: '" ' ;
    font-size: 14pt;
    color: var(--colorsystem);
}
.cardtitle::after{
    content: ' "';
    font-size: 14pt; 
    color: var(--colorsystem);
}

.titulos h6{
    font-size: 10pt;  
    color: rgba(255, 255, 255, 0.147);
    margin-left: 12px;
}
.titulos h6:before{
    content: "Publicado em ";
}

.icons{
    display: flex;
    gap: 5px;
}

.icons img{
    max-height: 35px;
    cursor: pointer;
    filter: brightness(90%);
}

.icons img:hover{
    filter: brightness(100%);

}