/* Estilos para a seção principal */

body{
background-color: var(--background);

}

main {
    padding: 10px;
    display: grid;
    gap:1%;
    grid-template-columns: 75% 25%;
  }

  @media screen and (max-width: 768px) {
    main{
      display: flex;
      flex-direction: column-reverse;
    }
  }
  
  /* Estilos para o formulário dentro da classe "createpost" */
  .createpost form {
    background-color: var(--background-fl);
    border: 1px solid var(--cor-borda);
    height: 100%;
    color: whitesmoke;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .createpost h1{
    font-size: 24px;
    text-align: left;
    color: var(--colorsystem);
    font-weight: 700;
    margin-top: 5px;
  }
  
  /* Estilos para os campos de entrada de texto */
  input[type="text"],
  input[type="file"],
  textarea {
    width: 100%;
    padding: 10px;
    color: white;
    margin-bottom: 10px;
    border: 1px solid var(--cor-borda);
    border-radius: 4px;
    background-color: var(--background-fl)
  }
  
 
  
  /* Estilos para os títulos (h5) */
  h5 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  