/* Estilos para a seção principal */

body{
background-color: var(--background);

}

main {
    display: grid;
    gap:1%;
    grid-template-columns: auto 25%;
  }

  @media screen and (max-width: 768px) {
    main{
      display: flex;
      flex-direction: column-reverse;
    }
  }
  
  /* Estilos para o formulário dentro da classe "createpost" */
  .createpost form {
    background-color: var(--background-fl);
    border: 1px solid var(--cor-borda);
    height: max-content;
    color: whitesmoke;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .createpost h1{
    margin-bottom: 6px;
  }

  .createpost section:first-child h5::after{
    content: " *";
    color: var(--colorsystem);
    font-size: 12pt;
  }

  .createpost h5{
    font-weight: 600;
    font-size: 10pt;
    color: rgb(230, 230, 230);
    padding-top: 8px;
  }

  .imagemCss{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .imagemCss img{
    max-height: 500px;

  }

  .imagemCss:hover .imagemHover {
    display: grid; 
}


.imagemCss:hover .imagemAtual {
  filter: brightness(30%);
}

.imagemHover {
    display: none;
    position: absolute;
    top: 40%;
    left: 50%; 
    transform: translateX(-50%); 
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16pt;
    width: max-content;
    z-index: 2;
    cursor: pointer;
}

.btnUpload{
  background-color: rgba(0, 0, 0, 0.57);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12pt;
  width: max-content;
  cursor: pointer;
  margin-bottom: 12px;
}

.btnUpload:hover{
  background-color: rgb(0, 0, 0);
}


  .imagemAtual{
    height: 100%;
    margin-bottom: 12px;
    border-radius: 2px;
  }

 /* Estilos para o modal */
.popNovaImagem {
  display: none;
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.706); 
  z-index: 9998; 
}

.popNovaImagem .conteudoModal {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background);
  padding: 20px;
 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.662);
  z-index: 9999; 
}


.popNovaImagem span{
  display: flex;
  flex-direction: row;
  width: auto;
  align-items: center;
  gap: 6px;
}


.popNovaImagem span{
 width: max-content;
}
img{
  image-rendering: optimizeSpeed;
}

.popNovaImagem span section{
  display: inline-flex;
  width: max-content;
  align-items: center;
  justify-items: center;
  gap: 3px;
 }

 .popNovaImagem img{
  overflow-block:auto;
  height: 50vh;

 }


.popNovaImagem span p:first-child{
  background-color: #007BFF;
  width: max-content;
  padding: 4px;
  border-radius: 3px;
  cursor: pointer;
}

.popNovaImagem span p:nth-child(2):before{
  content:"Agora não";
  padding: 4px;
  cursor: pointer;
}

.popNovaImagem span p:nth-child(2){ 
  color: rgb(173, 173, 173);
  width: max-content;
}


.popNovaImagem span p:nth-child(2):hover{ 
  color: white;
}


.popNovaImagem span section p:first-child:before{
  content: "Salvar imagem";
  background-color: #007BFF;
  border-radius: 3px;
  padding: 4px;
  cursor: pointer;
}

.popNovaImagem span section p:nth-child(2):before{
  content: "Remover imagem";
  color: white;
  background-color: #800000;
  border-radius: 3px;
  padding: 6px;
  cursor: pointer;
}

.popNovaImagem span section p:last-child::before{
 content: "Testar outra imagem antes";
   padding: 4px;
  cursor: pointer;
}

.popNovaImagem span section p:last-child{ 
  color: rgb(173, 173, 173);
}

.popNovaImagem span section p:last-child:hover{ 
  color: white;
} 
.popNovaImagem textarea {
  width: 100%;
  height: 100px;
  border-radius: 5px;
  padding: 5px;
  font-size: 12px;
  border: none;
}

.feedback{
  display: flex;
  font-size: 10pt;
  color:rgb(228, 45, 45);
}


  .createpost h1{
    font-size: 24px;
    text-align: left;
    color: var(--colorsystem);
    font-weight: 700;
    margin-top: 5px;
  }
  
  /* Estilos para os campos de entrada de texto */
  input[type="text"],
  input[type="file"],
  textarea {
    max-width: 100%;
    overflow: auto;
    min-height: 90px;
    font-size: 11pt;
    font-weight: 500;

    padding: 10px;
    color: rgb(188, 188, 188);
    margin-bottom: 10px;
    border: 1px solid rgba(255, 255, 255, 0.03);
    border-radius: 4px;
    background-color: var(--background-fl)
  }

  input[type="text"]{
    font-size: 14pt;
    color: rgb(202, 202, 202);
    min-height: 20px;
  }
  
  /* Estilos para os títulos (h5) */
  h5 {
    font-size: 18px;
    margin-bottom: 5px;
  }

  
  @media screen and (max-width: 768px) {
    .conteudoModal{
      width: 90%;
      height: auto;
    }
    .popNovaImagem img{
      width: 100%;
    }

    .imagemAtual {
      filter: brightness(50%);
    }
    .imagemCss:hover .imagemAtual {
      filter: brightness(50%);
    }
    .popNovaImagem span section{
    display: inline;
    max-width: max-content;
    align-items: center;
    justify-items: end;
    gap: 2px;
    align-content: space-around;
    justify-content: space-evenly;
     }
     .imagemHover {
      display: grid;
     }
     .popNovaImagem img{
   
      height: 400px;
      justify-content: center;
    }
    

  }