@media screen and (max-width: 768px) {
  .formatos {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
    overflow: auto;
    padding: 20px;
    justify-content: center;
    align-items: center;

  }

  .formatos section {
    padding: 5px;
    max-height: auto;
    min-height: auto;
    min-width: 100%; 
    max-width: none; 
  }

  .formatos h1 {
    
    display: none;
  }
}

/* Estilos para a seção principal */
.formatos {
  padding: 5px;
  gap: 5px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  min-width: 100%;
  max-width:max-content;
  margin: 0 auto;
}
  
  /* Estilos para o título h1 */
  .formatos h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 6px;
    color: var(--colorsystem);
    font-weight: 700;
  }
  
  /* Estilos para as seções de formatação */
  .formatos section {
    display: flex;
    flex-direction: column;
    max-height: 200px;
    min-height: 150px;
    margin-bottom: 20px;
    color: white;
    background-color: var(--background-fl);
    padding: 12px;
    border: 1px solid var(--cor-borda);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: center;
    text-align: justify;
   width: 100%;
  }
  
  /* Estilos para os parágrafos dentro das seções */
  .formatos p {
    font-size: 16px;
    font-weight: 700;
    margin: 5px 0;
   

  }
  
  /* Estilos para destacar os caracteres especiais */
  .formatos p strong {
    color: #007BFF;
    font-weight: bold;
    font-size: 16pt;
  }

  .st{
    color: #007BFF;
    font-weight: bold;
    font-size: 16pt;
  }
  
  .formatos p strong:hover {
    background-color: rgba(0, 0, 0, 0.062);
  }
  
  h2 {
    font-size: 18pt;
    color: rgb(149, 149, 149);  
      
  }
  
  .ex {
    color: rgb(139, 139, 139);
    font-size: 12pt;
  }
  

  
