@media screen and (max-width: 768px) {
    .popup{
        width: 85%;
    }

}



.del {
    display: grid;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.706); 
    z-index: 9998; 
}

.feedback{
    color: rgb(168, 9, 9);
    display: none;
    font-weight: bold;
}


.popup {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    background-color: var(--background);
    border: 1px solid var(--cor-borda);
    padding: 20px;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.662);
    z-index: 9999; 
}

.popup section h1 {
    font-size: 18pt;
    text-align: left;
    max-width: 90%;
    font-weight: 500;
    margin-bottom: 10px;
    color: rgb(205, 205, 205);
}

#tituloPubExcluir{
    color: var(--colorsystem);
    cursor: context-menu;
    font-weight: bold;
    
}
#tituloPubExcluir:hover{
    color: var(--colorsystem);
    text-decoration:underline;
}

.popup section h1:before{
    color: rgb(205, 205, 205);
    content: "Digite o título para confirmar exclusão: ";
}
.popup section h6{
    width: 100%;
    text-align: left;
    margin-bottom: 18px;
}
.popup section h6:before{
    content: "Excluir publicação";
    
    color: rgb(43, 43, 43);
    font-size: 12pt;
}

.popup section input {
    width: 100%;
    padding: 4px;
    height: 50px;
    color: white;
    resize: none;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.016);
    border: none;
    border-radius: 6px;
}

.popup section input::placeholder{
    color: #ffffff0f;
}

.popup section input:focus {
    outline: none;
}


.popup section p:first-child {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.popup section p:last-child {
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup section p:first-child:hover {
    background-color: #0056b3;
}
