<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" type="text/css" href="/css/form.css" >
    <link rel="stylesheet" type="text/css" href="/css/formatacoes.css" >
    <link rel="stylesheet" type="text/css" href="/css/styles.css" >
</head>
<body class="container">
    <a href="/posts">Voltar</a>
<main>
    <div class="createpost">
        <form action="/posts/<%= encodeURIComponent(title) %>" method="POST">
        <section>
            <h5>Titulo do post</h5>
            <input type="text" maxlength="80" style="width: 100%;" name="titulo" placeholder="Edite o titulo aqui">
        </section>
         <section>
            <h5>Introdução</h5>
            <textarea style="width: 100%; height: 90px;" name="introducao"  placeholder="Edite a introdução aqui"></textarea>
        </section>

        <section>
            <h5>Desenvolvimento</h5>
            <textarea style="width: 100%; height: 150px;" name="assunto"  placeholder="Edite o assunto aqui"></textarea>
        </section>
        
        <section>
            <h5>Imagem</h5>
            <section onclick="abrirModal()">
                <img src="" id="imagemAtual" alt="imagemUsadaNoBlog" class="imagemAtual" name="imagem">

            </section> 
         
            
            <section class="popNovaImagem" id="popImagem">
                <section class="conteudoModal">
                 <h1 id="feed">Upload de uma nova imagem</h1>    
                <textarea style="width: 100%" name="imagem" placeholder="Cole a url aqui"></textarea>

                <img src="" alt="nova Imagem" id="novaImagem" style="display: none; margin-bottom: 6px;" >


                <span>
                       <p onclick="verificarImagem()" id="verificarImagem">Verificar imagem</p>
                        <p onclick="fecharModal()" id="fecharModal"></p>
                        <p onclick="salvar()" id="salvar" style="display: none;"></p>
                        <p onclick="escolherOutra()" id="escolherOutra" style="display: none;"></p>
                </span>
             
            </section>
        </section>

        </section>
      
        <section>
            <h5>Conclusão</h5>
            <textarea style="width: 100%; height: 50px;" name="conclusao"  placeholder="Edite a conclusão aqui"></textarea>
        </section>
        <button type="submit">Editar</button>
        <span></span>

        </form>
    </div>
    <div class="formatos">
 
             <h1>Formatações</h1>  
             

        <section>
            <p>Para dar destaque a frases use: <strong>*</strong></p>
            <h6><span class="ex">HTML não é uma <br>*linguagem de programação*</span></h6>
        </section>

        <section>
            <p>Para criar blocos de observação, use <strong>[</strong></p>
            <h6><span class="ex">[Lembre-se! Novas publicações são enviadas via email]</span></h6>
        </section>

        <section>
            <p>Para criar hiperlinks, use <strong>#</strong></p>
            <h6><span class="ex">Meu repositorio: # link #</span></h6>
        </section>

        <section>
            <p>Para quebrar linhas, use <strong>/n</strong></p>
            <h6><span class="ex">[...] e assim se faz.<br>/nNo entanto...</span></h6>
        </section>

        

    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>


<script type="text/javascript" src="/static/js/edit.js"></script>
<script>
    const modal = document.getElementById('popImagem')
    const imagemTextarea = document.querySelector('textarea[name="imagem"]')
    const novaImagem = document.getElementById('novaImagem')
    const btnVerificar = document.getElementById('verificarImagem')
    const feedback = document.getElementById('feed')

    const imagemAtual = document.getElementById('imagemAtual')
    const fechaModal = document.getElementById('fecharModal')
    const salvarImg = document.getElementById('salvar')
    const escolherOutraImg = document.getElementById('escolherOutra')

    function abrirModal(){
        modal.style.display = 'grid'
    }
    
    function fecharModal(){
        modal.style.display = 'none'
    }

    function verificarImagem(){
            if (imagemTextarea.value.length != 0) {
                novaImagem.src = imagemTextarea.value
    
                novaImagem.style.display = 'block'
                imagemTextarea.style.display ='none'
                feedback.textContent = 'Para confirmar...'
                btnVerificar.style.display = 'none'
    
                fechaModal.style.display='none'
                salvarImg.style.display = 'block'
                escolherOutraImg.style.display='block'

                return imagemTextarea.value
            }
            alert('Nenhuma url válida encontrada.')
        }
    
    function escolherOutra() {
    novaImagem.style.display = 'none'
    imagemTextarea.style.display = 'block';
    imagemTextarea.value = ''; 

    feedback.textContent = 'Upload de uma nova imagem';
    
    btnVerificar.style.display = 'block';

    fechaModal.style.display = 'block';

    salvarImg.style.display = 'none';
    escolherOutraImg.style.display = 'none';
    novaImagem.src = '';
}


    function salvar(){
        imagemAtual.src = verificarImagem()
        modal.style.display = 'none'
        escolherOutra()

    }




</script>
</body>
</html>