<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" type="text/css" href="/css/form.css" >
    <link rel="stylesheet" type="text/css" href="/css/formatacoes.css" >
    <link rel="stylesheet" type="text/css" href="/css/styles.css" >
</head>
<body class="container">
    <a href="/posts" class="paginaAnterior"><span>↩️ Voltar</span></a>
<main>
    <div class="createpost">
        <h1>Editar publicação</h1>  
        <form action="/posts/<%= encodeURIComponent(title) %>" method="POST">
        <section>
            <h5>Titulo do post</h5>
            <input type="text" maxlength="80" style="width: 100%;" name="titulo" placeholder="Edite o titulo aqui">
        </section>
         <section>
            <h5>Introdução</h5>
            <textarea style="width: 100%;" name="introducao"  placeholder="Edite a introdução aqui"></textarea>
        </section>

        <section>
            <h5>Desenvolvimento</h5>
            <textarea style="width: 100%;" name="assunto"  placeholder="Edite o assunto aqui"></textarea>
        </section>
        
        <section>
            <h5>Imagem</h5>

            <textarea style="display: none;" id="srcImagemInput" name="imagem"></textarea>

            <section  class="imagemCss">
                <span onclick="abrirModal()" class="imagemHover" id="btnSubstituir">Substituir imagem</span>
                <img src="" alt="Imagem da publicação" id="imagemAtual" class="imagemAtual" name="srcimagem">
            </section> 
            <span onclick="abrirModal()" id="btnUpload" style="display: none;" class="btnUpload">Upload de imagem</span>
            
            <section class="popNovaImagem" id="popImagem">
                <section class="conteudoModal">
                 <h1 id="feed">Upload de uma nova imagem</h1> 

                 <span id="feedback" class="feedback"></span>  
                <textarea style="width: 100%" name="image" placeholder="Cole a url aqui" tabindex="0"></textarea>

                <img src="" alt="nova Imagem" id="novaImagem" style="display: none; margin-bottom: 6px;" >


                <span>
                       <p onclick="verificarImagem()" id="verificarImagem" tabindex="0" onkeydown="handleKeyDown(event)">Verificar imagem √</p>
                        <p onclick="fecharModal()" id="fecharModal" tabindex="0" onkeydown="handleKeyDown(event)"></p>
                        <section>
               
                          <p onclick="salvar()" id="salvar" style="display: none;" tabindex="0" onkeydown="handleKeyDown(event)"></p>
                        <p onclick="removerImagem()" style="display: none" id="removerImagem" tabindex="0" onkeydown="handleKeyDown(event)"></p>
                      
                        <p onclick="escolherOutra()" id="escolherOutra" style="display: none;" tabindex="0" onkeydown="handleKeyDown(event)"></p>
                     </section>
                </span>
             
            </section>
        </section>

        </section>
        <section>
            <h5>Conclusão</h5>
            <textarea style="width: 100%;" name="conclusao"  placeholder="Edite a conclusão aqui"></textarea>
        </section>
        <button type="submit">Editar</button>
        <span></span>

        </form>
    </div>
    <div class="formatos">
 
             <h1>Formatações</h1>  
             

        <section>
            <p>Para dar destaque a frases use: <strong>*</strong></p>
            <h6><span class="ex">HTML não é uma <br>*linguagem de programação*</span></h6>
        </section>

        <section>
            <p>Para criar blocos de observação, use <strong>[</strong></p>
            <h6><span class="ex">[Lembre-se! Novas publicações são enviadas via email]</span></h6>
        </section>

        <section>
            <p>Para criar hiperlinks, use <strong>#</strong></p>
            <h6><span class="ex">Meu repositorio: # link #</span></h6>
        </section>

        <section>
            <p>Para quebrar linhas, use <strong>/n</strong></p>
            <h6><span class="ex">[...] e assim se faz.<br>/nNo entanto...</span></h6>
        </section>

        

    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>


<script type="text/javascript" src="/static/js/edit.js"></script>
<script>
    const modal = document.getElementById('popImagem')
    const imagemTextarea = document.querySelector('textarea[name="image"]')
    const novaImagem = document.getElementById('novaImagem')
    const btnVerificar = document.getElementById('verificarImagem')
    const btnRemoverImg = document.getElementById('removerImagem')
    const feedback = document.getElementById('feed')
    const feedbackSpan = document.getElementById('feedback')

    const srcImagemInput = document.getElementById('srcImagemInput');

    const imagemAtual = document.getElementById('imagemAtual')
    const fechaModal = document.getElementById('fecharModal')
    const salvarImg = document.getElementById('salvar')
    const escolherOutraImg = document.getElementById('escolherOutra')
    const btnUpload = document.getElementById('btnUpload')
    const btnSubstituir = document.getElementById('btnSubstituir')
    
    srcImagemInput.textContent = imagemAtual.src

       
    async function abrirModal(){
        modal.style.display = 'grid'
 
    }
    
    function fecharModal(){
        modal.style.display = 'none'
    }

     function verificarImagem() {
        const urlImagem = imagemTextarea.value.trim();
        const img = new Image();

        img.onerror = function() {
            setTimeout(() => {
                feedbackSpan.textContent = '';
            }, 3000);
            
            imagemTextarea.value = ''
            feedbackSpan.textContent = 'A URL fornecida não é uma imagem válida.';
           
        };

        
        img.src = urlImagem;

      
        img.onload = function() {
            btnSubstituir.style.display ='block'
            btnRemoverImg.style.display = 'block'
            novaImagem.src = urlImagem;
            novaImagem.style.display = 'block';
            imagemTextarea.style.display = 'none';
            feedback.textContent = 'Para confirmar...';
            btnVerificar.style.display = 'none';
            fechaModal.style.display = 'none';
            salvarImg.style.display = 'block';
            escolherOutraImg.style.display = 'block';

        } 
        return urlImagem;

    }


    function escolherOutra() {
        novaImagem.style.display = 'none'
        imagemTextarea.style.display = 'block';
        btnRemoverImg.style.display = 'none'
        feedback.textContent = 'Upload de uma nova imagem';
        
        btnVerificar.style.display = 'block';

        fechaModal.style.display = 'block';

        salvarImg.style.display = 'none';
        escolherOutraImg.style.display = 'none';
        novaImagem.src = '';
    }


     function salvar(){
        imagemAtual.src =  verificarImagem()
        btnSubstituir.style.opacity = '1'
        visualizarImagem.style.display ='block'
        btnUpload.style.display = 'none'

        srcImagemInput.textContent =  verificarImagem()

        fecharModal()
    }

    function removerImagem(){

                btnUpload.style.display = 'block'
                btnSubstituir.style.opacity = '0'
                btnSubstituir.style.display = 'block'

                srcImagemInput.textContent = ''
                visualizarImagem.style.display ='none'
  
                novaImagem.src = ''
            escolherOutra()
       
    }




</script>
</body>
</html>