<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" type="text/css" href="/css/form.css" >
    <link rel="stylesheet" type="text/css" href="/css/formatacoes.css" >
    <link rel="stylesheet" type="text/css" href="/css/styles.css" >
    <link rel="stylesheet" type="text/css" href="/css/loading.css">
    <link rel="stylesheet" type="text/css" href="/css/popup.css" >
</head>
<body class="container">
<main>
    <div class="createpost">

        <span class="containerPopup" id="popSpan">
            <div class="popup" id="popLoading" >
                <div class="loading-overlay" id="loadingOverlay">
                    <div class="loading-spinner"></div>
                <div class="loading-text" id="feedbackPost">Publicando...</div>
                <span class="time"><span id="second"></span><span id="ms"></span></span>
                </div>
            </div>
</span>

        <h1>Nova publicação</h1>  
        <form action="/" method="POST" id="form">
        <section>
            <h5>Titulo do novo post</h5>
            <input type="text" maxlength="80" style="width: 100%;" name="titulo">
        </section>
         <section>
            <h5>Introdução</h5>
            <textarea style="width: 100%;" name="introducao"></textarea>
        </section>

        <section>
            <h5>Desenvolvimento</h5>
            <textarea style="width: 100%;" name="assunto"></textarea>
        </section>
        
        <section>
            <h5>Imagem</h5>

            <textarea style="display: none;" id="srcImagemInput" name="imagem"></textarea>

            <section  class="imagemCss" id="displayImagem">
                <span onclick="abrirModal()" class="imagemHover" id="btnSubstituir">Substituir imagem</span>
                <img src="" id="imagemAtual" class="imagemAtual" name="srcimagem">
            </section> 
            <span onclick="abrirModal()" id="btnUpload" style="display: none;" class="btnUpload">Upload de imagem</span>
            
            <section class="popNovaImagem" id="popImagem">
                <section class="conteudoModal">
                 <h1 id="feed">Upload de uma nova imagem</h1> 

                 <span id="feedback" class="feedback"></span>  
                <textarea style="width: 100%" name="image" placeholder="Cole a url aqui" tabindex="0"></textarea>

                <img src="" alt="nova Imagem" id="novaImagem" style="display: none; margin-bottom: 6px;" >


                <span>
                       <p onclick="verificarImagem()" id="verificarImagem" tabindex="0" onkeydown="handleKeyDown(event)">Verificar imagem √</p>
                        <p onclick="fecharModal()" id="fecharModal" tabindex="0" onkeydown="handleKeyDown(event)"></p>
                        <section>
               
                          <p onclick="salvar()" id="salvar" style="display: none;" tabindex="0" onkeydown="handleKeyDown(event)"></p>
                        <p onclick="removerImagem()" style="display: none" id="removerImagem" tabindex="0" onkeydown="handleKeyDown(event)"></p>
                      
                        <p onclick="escolherOutra()" id="escolherOutra" style="display: none;" tabindex="0" onkeydown="handleKeyDown(event)"></p>
                     </section>
                </span>
             
            </section>
        </section>

        </section>
        
        <section>
            <h5>Conclusão</h5>
            <textarea style="width: 100%; " name="conclusao"></textarea>
        </section>
        <button type="submit">Publicar</button>
        <a href="/posts/"> Ver publicações </a>

        </form>
    </div>
    <div class="formatos">
 
             <h1>Formatações</h1>  
             

        <section>
            <p>Para dar destaque a frases use: <strong>*</strong></p>
            <h6><span class="ex">HTML não é uma <br>*linguagem de programação*</span></h6>
        </section>

        <section>
            <p>Para criar blocos de observação, use <strong>[</strong></p>
            <h6><span class="ex">[Lembre-se! Novas publicações são enviadas via email]</span></h6>
        </section>

        <section>
            <p>Para criar hiperlinks, use <strong>#</strong></p>
            <h6><span class="ex">Meu repositorio: # link #</span></h6>
        </section>

        <section>
            <p>Para quebrar linhas, use <strong>/n</strong></p>
            <h6><span class="ex">[...] e assim se faz.<br>/nNo entanto...</span></h6>
        </section>

        

    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

<script>
     const modal = document.getElementById('popImagem')
    const imagemTextarea = document.querySelector('textarea[name="image"]')
    const novaImagem = document.getElementById('novaImagem')
    const btnVerificar = document.getElementById('verificarImagem')
    const btnRemoverImg = document.getElementById('removerImagem')
    const feedback = document.getElementById('feed')
    const feedbackSpan = document.getElementById('feedback')
    const visualizarImagem = document.getElementById('imagemAtual')
    const btnSubstituir = document.getElementById('btnSubstituir')

    const srcImagemInput = document.getElementById('srcImagemInput');

    const imagemAtual = document.getElementById('imagemAtual')
    const fechaModal = document.getElementById('fecharModal')
    const salvarImg = document.getElementById('salvar')
    const escolherOutraImg = document.getElementById('escolherOutra')
    const btnUpload = document.getElementById('btnUpload')
    const displayCasoSemImg = document.getElementById('displayImagem')

    const loading = document.getElementById('popSpan')
    const loadingConcertar = document.getElementById('loadingOverlay')
    const feedbackPost = document.getElementById('feedbackPost')


    //Evento submit
    const formulario = document.querySelector('form')
    formulario.addEventListener("submit", eventPost);

    //temporizador
    function timer(feedback) {
        let second =  0;
        let millisecond = 0;
        const secondElement = document.getElementById('second');
        const millisecondElement = document.getElementById('ms');

        function padZero(num) {
            return num < 10 ? '0' + num : num;
        }

        function updateTimer() {
            secondElement.innerText = padZero(second);
            millisecondElement.innerText = padZero(millisecond);
        }

        let interval;


        if (feedback === "start") {
            interval = setInterval(function() {
                millisecond += 10;
                if (millisecond === 1000) {
                    millisecond = 0;
                    second++;
                }
                if(second > 3){
                    secondElement.style.color = 'red'
                    millisecondElement.style.color = 'red'
                }
                updateTimer();
            }, 10);
        }

        if (feedback === "end") {
                clearInterval(interval); 
        }
}

    //evento de submit
    function eventPost() {
            loading.style.display = 'flex'; 
            loadingConcertar.style.display = 'flex'; 
            timer("start")
        
        }
    timer("end")





    // Popup de imagens
    displayCasoSemImg.style.display = 'none'
    btnUpload.style.display = 'grid' 
    

    function abrirModal(){
        modal.style.display = 'grid'
    }
    
    function fecharModal(){
        modal.style.display = 'none'
    }

    async function verificarImagem() {
        const urlImagem = imagemTextarea.value.trim();
        const img = new Image();

        img.onerror = function() {
            setTimeout(() => {
                feedbackSpan.textContent = '';
            }, 3000);
            
            imagemTextarea.value = ''
            feedbackSpan.textContent = 'A URL fornecida não é uma imagem válida.';
         
        };

        
        img.src = urlImagem;

      
        img.onload = function() {
            btnRemoverImg.style.display = 'block'
            novaImagem.src = urlImagem;
            novaImagem.style.display = 'block';
            imagemTextarea.style.display = 'none';
            feedback.textContent = 'Para confirmar...';
            btnVerificar.style.display = 'none';
            fechaModal.style.display = 'none';
            salvarImg.style.display = 'block';
            escolherOutraImg.style.display = 'block';

        } 
        return urlImagem;

    }


    function escolherOutra() {
        novaImagem.style.display = 'none'
        imagemTextarea.style.display = 'block';
        btnRemoverImg.style.display = 'none'
        feedback.textContent = 'Upload de uma nova imagem';
        
        btnVerificar.style.display = 'block';

        fechaModal.style.display = 'block';

        salvarImg.style.display = 'none';
        escolherOutraImg.style.display = 'none';
        novaImagem.src = '';
    }


    async function salvar(){
        displayCasoSemImg.style.display = 'grid'
        imagemAtual.src = await verificarImagem()
        btnSubstituir.style.opacity = '1'
        visualizarImagem.style.display ='block'
        btnUpload.style.display ='none'

        srcImagemInput.textContent = await verificarImagem()

        fecharModal()
    }

    function removerImagem(){
        imagemTextarea.value = ''
        btnUpload.style.display ='block'
        btnSubstituir.style.opacity = '0'
        btnSubstituir.style.display = 'block'
        btnUpload.style.display ='grid'
        visualizarImagem.style.display ='none'
        imagemAtual.src = ''
        novaImagem.src = ''
       escolherOutra()
    }




</script>


</body>
</html>