<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" >
    <link rel="stylesheet" type="text/css" href="/css/cards.css" >
</head>
<body class="container">
    <a href="/">Voltar</a>
<main>
    <div id="root">

    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

<script src="https://cdn.socket.io/4.1.2/socket.io.min.js"></script>
<script type="text/javascript" src="/static/js/cards.js"></script>

</body>
</html>