<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" >
    <link rel="stylesheet" type="text/css" href="/css/cards.css" >


</head>
<body class="container">
    <a href="/" class="paginaAnterior">Voltar</a>
<main>
    <div id="root">

    </div>
    <div class="att">
     
        
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>


<script type="text/javascript" src="/static/js/atualiz.js"></script>
<script type="text/javascript" src="/static/js/data/data.js"></script>
<script type="text/javascript" src="/static/js/cards.js"></script>

</body>
</html>