<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" >
    <link rel="stylesheet" type="text/css" href="/css/cards.css" >
</head>
<body class="container">
    <a href="/new">Voltar</a>
<main>
    <div id="root">

    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

<script type="text/javascript" src="/static/js/cards.js"></script>
</body>
</html>